@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto&display=swap');

/*------------------------------------------------background */


/*------------------------------------------------fonts */

h1,h2,h3,h4 {
    margin: 0;
    font-family: "Alatsi", sans-serif;
    letter-spacing: 2px;
}

p {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
}

h1 {
    color: #fafafa;
}

h2 {
    color: #7600e4;
}

/*------------------------------------------------Special Paddings / margins / text */

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/*------------------------------------------------header */

header {
    padding: 20px;
    margin: 0;
    text-align: center;
}

.menucontainer {
    display: inline;
    font-family: "Alatsi", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

#nav li {
    font-size: 26px;
}

.menuitem {
    padding-right: 50px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 120px;
}

.menuitem a:hover {
    color: #7600e4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/*------------------------------------------------footer */

footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fafafa;
    margin: 0;
    padding: 10;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.social-links {
    padding: 30px 0px 0px 0px;
}

.social-links li a i {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 10px;
    color: #fafafa;
}

.social-links li a i:hover {
    color: #7600e4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*------------------------------------------------homepage */

.intro-text {
    max-width: 100%;
    display: inline;
    padding-top: 100px;
    padding-bottom: 50px;
}

.head-image {
    max-height: 90%;
    position: fixed;
    bottom: 0;
    right: 5;
}

.col {
    min-width: 0;
    margin: 0;
    max-height: 800px;
}

/*------------------------------------------------about */

.about-header {
    font-size: 200%;
}

.about-image {
    max-height: 100%;
    position: fixed right;
}

.podcast-plug {
    text-decoration: none;
    color: #fafafa;
    font-style: bold;
}

.podcast-plug:hover {
    color: #7600e4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;  
}

/*------------------------------------------------podcast */



/*------------------------------------------------standup */



/*------------------------------------------------news */



/*------------------------------------------------contact */

.center-form {
    padding: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #7600e4;
    border: none;
}

/*------------------------------------------------Media Query */

@media screen and (max-width: 400px) {
    .head-image {  
        max-height: 30%;
    }
    .intro-text {
        font-size: 60%;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    .head-image {  
        max-height: 50%;
    }
    .intro-text {
        font-size: 70%;
        padding: 10;
        margin: 0;
    }
    #nav li {
        font-size: 16;
    }
}

@media screen and (max-width: 800px) {  
    .intro-text h1 {
        font-size: 200%;
    }
    .head-image {  
        max-height: 70%;
    }
}

@media screen and (max-width: 1200px) {  
    .intro-text h1 {
        font-size: 400%;
    }
}

@media screen and (max-width: 1600px) {  
    .intro-text h1 {
        font-size: 600%;
    }
}

@media screen and (max-width: 2000px) {  
    .intro-text h1 {
        font-size: 600%;
    }
}