@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto&display=swap');

/*------------------------------------------------background */


/*------------------------------------------------fonts */

h1,h2,h3,h4 {
    font-family: "Alatsi", sans-serif;
    letter-spacing: 2px;
}

p {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
}

h1 {
    color: #fafafa;
}

h2 {
    color: #7600e4;
}

h3 {
    color: #fafafa;
}

h4 {
    color: #7600e4;
}

/*------------------------------------------------Special Paddings / margins / text */

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

 .link-plug {
    text-decoration: none;
    color: #7600e4;
}

.link-plug:hover {
    color: #c224b5;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;  
}

#page-margin {
    margin: 20px 20px 50px 20px;
}

/*------------------------------------------------header */

header {
    padding: 20px;
    margin: 0;
    text-align: center;
}

.navbar-nav {
    font-family: "Alatsi", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
}

.nav-item {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
}

.nav-item a:hover {
    color: #7600e4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-bars {
color: #fafafa;
}

/*------------------------------------------------footer */

footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fafafa;
    margin: 0;
    padding: 10;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.social-links {
    padding: 30px 0px 0px 0px;
}

.social-links li a i {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 10px;
    color: #fafafa;
}

.social-links li a i:hover {
    color: #7600e4;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*------------------------------------------------homepage */

#home-container {
    margin: 10px;
}

.intro-text {
    display: inline;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 80%;
}

.head-image-one {
    max-height: 80%;
    position: fixed;
    bottom: 0;
    right: 5;
    visibility: visible;
}

.head-image-two {
    max-height: 80%;
    position: fixed;
    bottom: 0;
    right: 5;
    visibility: hidden;
}

.head-image-one:hover {
    .head-image-one {
        visibility: hidden;
    }
    .head-image-two {
        visibility: visible;
    }
}

.col {
    min-width: 0;
    margin: 0;
    max-height: 800px;
    padding: 10px;
}

/*------------------------------------------------about */

.about-header {
    font-size: 200%;
}

.about-image {
    max-height: 80%;
    position: fixed;
    bottom: 0;
    right: 0;
}

/*------------------------------------------------podcast */

.jumbotron {
    max-width: 70%;
    background-color: rgba(0, 0, 0, 0);
}

.podcast-image {
    max-height: 80%;
    position: fixed;
    bottom: 0;
    right: 5;
}

/*------------------------------------------------standup */

.standupclip {
    max-width: 70%;
}


/*------------------------------------------------news */

.news-img {
    max-width: 60%;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-image {
    max-height: 50%;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    position: bottom;
}

#img-row {
    padding: 0px;
    margin: 0px;
}

/*------------------------------------------------contact */

.center-form {
    padding: 10px;
    margin: 0 auto;
    max-width: 90%;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #7600e4;
    border: none;
    font-family: "Alatsi", sans-serif;
}

button[type="submit"]:hover {
    background-color: #c224b5;
    color: #fafafa;
}

.form-control {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #7600e4;

}

/*------------------------------------------------Media Query */

@media screen and (max-width: 767px) {
    .head-image-one .about-image .podcast-image{  
        display: none;
    }
    .intro-text {
        font-size: 60%;
        padding: 10;
    }
}

@media screen and (min-width: 768) {
    .head-image-one .about-image .podcast-image {  
        max-height: 90%;
    }
    .intro-text {
        font-size: 70%;
        padding: 10;
    }
    #nav li {
        font-size: 16;
    }
}

@media screen and (min-width: 992) {  
    .intro-text h1 {
        font-size: 300%;
    }
    .intro-text h2 {
        font-size: 200%;
    }
    .head-image {  
        max-height: 100%;
    }
    .center-form {
        max-width: 70%;
    }
}

@media screen and (min-width: 1200px) {  
    .intro-text h1 {
        font-size: 400%;
    }
}